# Extracting data from relational databases
## SQLite Database

In [1]:
import sqlite3

In [3]:
con = sqlite3.connect('classroomDB.db')
con.close()

## create table

In [42]:
con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

create_table = ("CREATE TABLE classroom(student_id INTEGER PRIMARY KEY," +
                "name VARCHAR(20),"+
                "gender CHAR(1),"+
                "physics_marks INTEGER,"+
                "chemistry_marks INTEGER,"+
                "mathematics_marks INTEGER);")

cursor.execute(create_table)
con.commit()
con.close()

OperationalError: table classroom already exists

## insert data

In [54]:
classroom_data = [(1, "Hector", "M", 70, 100, 92),
                  (2, "Abril", "F", 100, 84, 92),
                  (3, "Michelle", "F", 90, 100, 94)]

con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

for student in classroom_data:
    
    insert = ("INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES ("+str(student[0])+",'"+
              str(student[1])+"','"+str(student[2])+"',"+str(student[3])+","+str(student[4])+","+str(student[5])+");")
    print(insert)
    cursor.execute(insert)
con.commit()
con.close()

INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (1,'Hector','M',70,100,92);
INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (2,'Abril','F',100,84,92);
INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (3,'Michelle','F',90,100,94);

## extract data

In [57]:
con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

q = "SELECT * FROM classroom"
cursor.execute(q)

result = cursor.fetchall()
print(result)

for row in result:
    print(row)

con.close()

[(1, 'Hector', 'M', 70, 100, 92), (2, 'Abril', 'F', 100, 84, 92), (3, 'Michelle', 'F', 90, 100, 94)]
(1, 'Hector', 'M', 70, 100, 92)
(2, 'Abril', 'F', 100, 84, 92)
(3, 'Michelle', 'F', 90, 100, 94)

# MySQL Database

In [9]:
import pymysql

ImportError: No module named 'pymysql'

## al no tener permisos, se instalarÃ¡ desde la CMD admin

In [12]:
!conda install pymysql

Fetching package metadata .........
Solving package specifications: ..........

Package plan for installation in environment C:\Program Files\Anaconda3:

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-env-2.6.0            |                0          498 B
    vc-14                      |                0          703 B
    pymysql-0.7.9              |           py35_0         121 KB
    requests-2.14.2            |           py35_0         705 KB
    pyopenssl-16.2.0           |           py35_0          70 KB
    conda-4.3.30               |   py35hec795fb_0         541 KB
    ------------------------------------------------------------
                                           Total:         1.4 MB

The following NEW packages will be INSTALLED:

    conda-env: 2.6.0-0       (copy)
    pymysql:   0.7.9-py35_0  (copy)
    vc:        14-0          (copy)

The following packages will be UPDATED:

    conda:     4.2.9-py35_0  --> 4.3.30-py35hec795fb_0 (copy)
    pyopenssl: 16.0.0-py35_0 --> 16.2.0-py35_0         (copy)
    requests:  2.11.1-py35_0 --> 2.14.2-py35_0         (copy)

CondaIOError: IO error: Missing write permissions in: C:\Program Files\Anaconda3
#
# You don't appear to have the necessary permissions to install packages
# into the install area 'C:\Program Files\Anaconda3'.
# However you can clone this environment into your home directory and
# then make changes to it.
# This may be done using the command:
#
# $ conda create -n my_root --clone=C:\Program Files\Anaconda3

In [13]:
import pymysql

In [59]:
conf = {'host' : 'localhost',
         'username' : 'root',
         'password' : 'root',
         'db' : 'contaminantes2'}

con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])

con.close()

In [62]:
con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con2.cursor()

create_table = ("""CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER);""")

cursor.execute(create_table)
con.commit()
con.close()

In [70]:
classroom_data = [(1, "Hector", "M", 70, 100, 92),
                  (2, "Abril", "F", 100, 84, 92),
                  (3, "Michelle", "F", 90, 100, 94)]

con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con.cursor()

for student in classroom_data:
    insert = ("INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES ("+str(student[0])+",'"+
              str(student[1])+"','"+str(student[2])+"',"+str(student[3])+","+str(student[4])+","+str(student[5])+");")
    cursor.execute(insert)
    print(insert)
    
con.commit()
con.close()

InternalError: (1205, 'Lock wait timeout exceeded; try restarting transaction')

In [ ]:
con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con.cursor()
q = "SELECT * FROM classroom"
cursor.execute(q)

result = cursor.fetchall()
print(result)

for row in result:
    print(row)

con.close()