# Extracting data from relational databases
## SQLite Database

In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('classroomDB.db')
con.close()

## create table

In [3]:
con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

create_table = ("CREATE TABLE classroom(student_id INTEGER PRIMARY KEY," +
                "name VARCHAR(20),"+
                "gender CHAR(1),"+
                "physics_marks INTEGER,"+
                "chemistry_marks INTEGER,"+
                "mathematics_marks INTEGER);")

cursor.execute(create_table)
con.commit()
con.close()

OperationalError: table classroom already exists

## insert data

In [54]:
classroom_data = [(1, "Hector", "M", 70, 100, 92),
                  (2, "Abril", "F", 100, 84, 92),
                  (3, "Michelle", "F", 90, 100, 94)]

con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

for student in classroom_data:
    
    insert = ("INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES ("+str(student[0])+",'"+
              str(student[1])+"','"+str(student[2])+"',"+str(student[3])+","+str(student[4])+","+str(student[5])+");")
    print(insert)
    cursor.execute(insert)
con.commit()
con.close()

INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (1,'Hector','M',70,100,92);
INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (2,'Abril','F',100,84,92);
INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES (3,'Michelle','F',90,100,94);

## extract data

In [57]:
con = sqlite3.connect('classroomDB.db')

cursor = con.cursor()

q = "SELECT * FROM classroom"
cursor.execute(q)

result = cursor.fetchall()
print(result)

for row in result:
    print(row)

con.close()

[(1, 'Hector', 'M', 70, 100, 92), (2, 'Abril', 'F', 100, 84, 92), (3, 'Michelle', 'F', 90, 100, 94)]
(1, 'Hector', 'M', 70, 100, 92)
(2, 'Abril', 'F', 100, 84, 92)
(3, 'Michelle', 'F', 90, 100, 94)

# MySQL Database

In [9]:
import pymysql

ImportError: No module named 'pymysql'

## al no tener permisos, se instalar√° desde la CMD admin

In [ ]:
!sudo pip install pymysql

In [ ]:
import pymysql

In [ ]:
conf = {'host' : 'localhost',
         'username' : 'root',
         'password' : 'root',
         'db' : 'contaminantes2'}

con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])

con.close()

In [ ]:
con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con2.cursor()

create_table = ("""CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER);""")

cursor.execute(create_table)
con.commit()
con.close()

In [ ]:
classroom_data = [(1, "Hector", "M", 70, 100, 92),
                  (2, "Abril", "F", 100, 84, 92),
                  (3, "Michelle", "F", 90, 100, 94)]

con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con.cursor()

for student in classroom_data:
    insert = ("INSERT INTO classroom(student_id,name,gender,physics_marks,chemistry_marks,mathematics_marks) VALUES ("+str(student[0])+",'"+
              str(student[1])+"','"+str(student[2])+"',"+str(student[3])+","+str(student[4])+","+str(student[5])+");")
    cursor.execute(insert)
    print(insert)
    
con.commit()
con.close()

In [ ]:
con = pymysql.connect(conf['host'], conf['username'], conf['password'],conf['db'])
cursor = con.cursor()
q = "SELECT * FROM classroom"
cursor.execute(q)

result = cursor.fetchall()
print(result)

for row in result:
    print(row)

con.close()